.container{
    background-image: url("./assets-20210424T204913Z-001/assets/backgrounds/landing.jpg");
    height: 900px;
}
.logo{
    text-align: center;
}
.text{
    text-align: center;
    color: white;
}
.list2{
    display: flex;
}
.items{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.item1{
    border: 1px solid red;
}
.item2{
    border: 1px color white;
}
.fastfoods{
    display: flex;
}
.fastimg{
    display: flex;
    flex-direction: column;
}