.container{
    background-image: url("./assets-20210424T204913Z-001/assets/backgrounds/landing.jpg");
    height: 900px;
}
.logo{
    text-align: center;
}
.text{
    text-align: center;
    color: white;
}
