.container{
    background-image: url("./assets-20210424T204913Z-001/assets/backgrounds/landing.jpg");
    height: 900px;
}
.logo{
    text-align: center;
}
.text{
    text-align: center;
    color: white;
}
.list2{
    display: flex;
}
.items{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.item1{
    border: 1px solid red;
}
.item2{
    border: 1px color white;
}
.fastfoods{
    display: flex;
    padding-top: 60px;
}
.fastimg{
    display: flex;
    flex-direction: column;
}
.fastfood1{
    text-align: center;
    padding-left: 40px;
}
.gallery{
    border: solid red;
    padding: 10px 0;
}
.drinks{
    display: flex;
}
.main{
    display: flex;
    padding-top: 60px;
    flex-direction: ;
}
.main2{
    text-align: left;
}
.fd{
    background-image: url("./assets-20210424T204913Z-001/assets/backgrounds/foodsBg.jpg");
    height: 600px;
    padding-top: 60px;
}
.container3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fd2{
display: flex;
justify-content: space-around;
color: white;
}
.combination{
    background-color: white;
    padding-top: 60px;
}
.customers{
    display: flex;
}
.border{
    border-left: 1px solid black;
    margin: 10px 2px;
}
.get{
    background-image: url("./assets-20210424T204913Z-001/assets/backgrounds/subscribe.jpg");
    height: 500px;
}